{% extends "base.html" %} {% block title %}Text2Image{% endblock %} {% block content
%}
<h1 align="center">Text2Image {{user.first_name}}</h1>

<div align="center">
  <img id="img" alt="My image" style="height: 500px; margin-bottom: 20px;">  
</div>

<input
  type="prompt"
  class="form-control"
  id="prompt"
  name="prompt"
  placeholder="Enter command prompt... (ls -l)"  
/>

<script>
  
  const loadImageIfAvailable = () => {
    const imgElement = document.getElementById('img');
    imgElement.src = "https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png";
  };

  setInterval(loadImageIfAvailable, 1000);

  $(document).ready(function() {
    
    $('#update-button').click(function() {
      prompt = document.getElementById("prompt").value;
      
      if (prompt == "") {
        document.getElementById('log').innerHTML = "Plese insert a prompt"
      } else {
        fetch('/run_text2Img/' + prompt)
        .then(response => response.text())
        .then(data => {
          document.getElementById('log').innerHTML = data.toString();
          console.log(data);
      });
      }
    });
  });
</script>

<div align="center">
  <button class="btn btn-primary" style="margin-top: 20px; margin-bottom: 20px;" id="update-button">Generate Image</button>
</div>

<p style="margin-bottom: 100px;" id="log"></p>





<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
